.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  background-color: #282c34;
}

.App-title {

}

.App-header {
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.IO-box{
  display: flex;
  flex-direction: row;
}

.Input{
  flex:1;
}

.Output{
  flex:1;
}
